<DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<center>
    <div class="crd">
        <h1><a style=" margin-bottom: -21px; margin-top:35px; text-decoration:none; list-style:none;" href="register_crt">Crt Registeration !</a></h1> <br>
        <h1><a style=" margin-bottom: -21px; text-decoration:none; list-style:none; " href="register_user">User Registeration !</a> </h1><br>
        <h1><a style=" margin-bottom: -21px; text-decoration:none; list-style:none;" href="sgin_crt"> Crt Sign In !</a></h1> <br>
        <h1><a style=" margin-bottom: -20px; text-decoration:none; list-style:none;" href="sgin_user"> User Sign In !</a></h1> <br>
        <h1><a style=" margin-bottom: -21px; text-decoration:none; list-style:none;" href="contact/"> contact1 !</a></h1> <br>
       <h1><a style=" margin-bottom: -20px; text-decoration:none; list-style:none; " href="contact2"> contact2 !</a></h1> <br>
       </div>
</center>
</body>
</html>


