<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Django Multiple File </title>
</head>
<body>
    <form>

    <input type="text" name="name" placeholder="Name"><br><br>
    <textarea rows="5" name="desc" placeholder="Description"></textarea><br><br>
    <input type="file" name="file[]"><br><br>
    <input type="text" name="name" placeholder="Name"><br><br>
    <input type="button" name="add_image" id="add_image" value="Add image"><br><br>

    <input type="submit" value="Save data">








    </form>
    
</body>
</html>
