<DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body class="body">
    <h1 style="text-align: center; ">Crt Registration</h1><br>
    <hr>
    <div class="form-group">

     <center>
    <form method="POST">
        {% csrf_token %}
        {{form.as_p}}
        <div class="sbmt">
            <button style="background-color:blue; font-size:20px" type="submit">Register</button>
        </div>
    </form>
    </center>
</div>
</body>
</html>